@model KnittingForum.Models.Comment

@{
    ViewData["Title"] = "Create";
}

<h1>Comment</h1>
<hr />
<div class="row">
    <div class="col-md-4">
	    <form asp-action="Create">
		    <input type="hidden" asp-for="DiscussionId" value="@ViewData["DiscussionId"]" />
		    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
		    <div class="form-group">
			    <label asp-for="Content" class="control-label"></label>
			    <textarea asp-for="Content" class="form-control" > </textarea>
			    <span asp-validation-for="Content" class="text-danger"></span>
		    </div>

		    <div class="form-group my-3">
			    <input type="submit" value="Create" class="btn btn-primary"/>
		    </div>
		    <p>
			    @ViewBag.Message
		    </p>
	    </form>
    </div>
</div>

<div>

	@* <a asp-action="Index">Back to List</a> link back *@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
